<div class="start">
    <h1 class="text-success  display-2 ">Connect on Spotify</h1>
    <p class="lead text-muted">
        Spotify helps you browse artists,
        <span class="text-success">tracks</span>, albums and listen your favourite songs!
    </p>
    <form>
        <div>
            <input type="text" name="searchStr" [(ngModel)]="searchStr" (keyup)="searchMusics()" class="form-control" placeholder="Search music....">
        </div>
    </form>


    <div *ngIf="searchRes && searchStr">
        <div *ngFor="let res of searchRes">
            <div class="row">
                <div class="col-md-12">
                    <div class="search-res well">
                        <h4 class="text-track">
                            <a>{{res.name}}</a>
                        </h4>
                        <a class="btn btn-secondary" href="{{res.external_urls.spotify}}" target="_blank">Listen Track</a>
                        <!--<a class="btn btn-secondary text-white add"> Add </a>-->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
