<nav class="navbar navbar-static-top navbar-expand-md navbar-dark ">
  <img class="nav-img" src="../assets/images/spotifywhite.png" >
  <a class="navbar-brand" href="#">Spotify</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link home homestyle " routerLink="/" (click)="style()">Home </a>        
      </li>
      <li class="nav-item ">
          <a class="nav-link" routerLink="/about" routerLinkActive="active" (click)="noStyle()">SearchTracks</a>
      </li>
      <li class="nav-item ">
          <a class="nav-link" routerLink="/searchalbums" routerLinkActive="active" (click)="noStyle()">SeachAlbums</a>
      </li>
      
      <li class="nav-item ">
          <a class="nav-link" routerLink="/playlist" routerLinkActive="active" (click)="noStyle()">Playlists</a>
      </li>
    </ul>

    <div class="nav-item  logout">
      <a class="nav-link " routerLink="/logout"  routerLinkActive="active" (click)="noStyle()" >Logout</a>
    </div>
  </div>
</nav>

